<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  <a [routerLink]="['']" class="navbar-brand">Paradox</a>
  <button type="button" class="navbar-toggler navbar-toggler-right" data- toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" id="navScrollspy">
      <li id="KoszykInfo">Koszyk: {{this.productCount}} produkt(ów), {{this.costs}} zł</li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['koszyk']">Do kasy</a>
      </li>
    </ul>
  </div>
</nav>