.mat-icon {
    font-size: 200%;
}

#del {
    text-align: center;
    vertical-align: middle;
}

#img {
    cursor: pointer;
}

#prom {
    margin-bottom: 8px;
}

.strikethrough {
    text-decoration: line-through !important;
}

.promotion {
    color: green;
}